# Classification models based on data about pets

## Libraries and settings

In [31]:
# Libraries
import os
import random
import numpy as np
import pandas as pd
from sklearn import tree
from sklearn import metrics
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split

# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

# Show current working directory
print(os.getcwd())

/workspaces/data_analytics/WTYK/LC_09

## Simulate pet data

ist non parametrisch

In [32]:
# Set a seed for reproducibility
random.seed(42)

# Function to generate pets, werden randoms generiert
def pets(pet_type, weight_min, weight_max, height_min, height_max, n_animals=1000):

    pets = pd.DataFrame({
            'age': [random.randint(1, 15) for _ in range(n_animals)],
            'color': [random.choice(['red', 'blue', 'green', 'yellow']) for _ in range(n_animals)],
            'weight': [random.uniform(weight_min, weight_max) for _ in range(n_animals)],
            'height': [random.uniform(height_min, height_max) for _ in range(n_animals)],
            'eats_meat': [random.choice(['yes', 'no']) for _ in range(n_animals)],
            'pets': [pet_type for _ in range(n_animals)]})

    return pets

# Simulate data about dogs, cats, birds, and fishes
dogs = pets('dog', weight_min=5, weight_max=80, height_min=20, height_max=90)
cats = pets('cat', weight_min=2, weight_max=8, height_min=20, height_max=40)
birds = pets('bird', weight_min=0.2, weight_max=7, height_min=10, height_max=80)
fishes = pets('fish', weight_min=0.1, weight_max=30, height_min=10, height_max=30)

# Concatenate all animal data to create a single dataframe, concatenate = zusammenfügen
df_orig = pd.concat([dogs, cats, birds, fishes])

# Shuffle the data
df_orig = df_orig.sample(frac=1, random_state=42).reset_index(drop=True)

# Show the first & last few rows
df_orig

      age   color     weight     height eats_meat  pets
0       8     red  19.714384  59.985395        no   dog
1      10     red  18.482795  21.060650        no  fish
2      12    blue  61.574806  45.971437       yes   dog
3       1     red  24.117160  26.484956       yes  fish
4      11   green   0.310169  58.297460       yes  bird
...   ...     ...        ...        ...       ...   ...
3995   12     red   3.887355  26.852705       yes   cat
3996    8    blue   2.671594  31.903502        no   cat
3997    9    blue  32.434477  49.317803       yes   dog
3998    9    blue  17.370394  26.641151       yes  fish
3999    4  yellow  23.429413  14.142831       yes  fish

[4000 rows x 6 columns]

## Convert categorical features to numerical using one-hot encoding

In [ ]:
# Convert categorical feature to numerical using one-hot encoding (exclude column 'pets'),
# jetzt gibt es binarisierte Spalten mit true und false :) neural network kann nur mit zahlen umgehen, 
# deswegen sozusagen in true und false umgewandelt damit das zu 1 oder 0 wird
x = pd.get_dummies(df_orig.drop('pets', axis=1))
x

,age,weight,height,color_blue,color_green,color_red,color_yellow,eats_meat_no,eats_meat_yes
0,8,19.714384,59.985395,False,False,True,False,True,False
1,10,18.482795,21.060650,False,False,True,False,True,False
2,12,61.574806,45.971437,True,False,False,False,False,True
3,1,24.117160,26.484956,False,False,True,False,False,True
4,11,0.310169,58.297460,False,True,False,False,False,True
...,...,...,...,...,...,...,...,...,...
3995,12,3.887355,26.852705,False,False,True,False,False,True
3996,8,2.671594,31.903502,True,False,False,False,True,False
3997,9,32.434477,49.317803,True,False,False,False,False,True
3998,9,17.370394,26.641151,True,False,False,False,False,True
3999,4,23.429413,14.142831,False,False,False,True,False,True

### Create train and test samples (train = 80%, test = 20% of the data)

In [ ]:
# Create train and test samples
x_train, x_test, y_train, y_test = train_test_split(x, df_orig['pets'], test_size=0.2, random_state=42)

# Show X_train


# Show y_train

## Fit a classification tree

In [ ]:
# Create decision tree regressor object with max_depth = 3
clf = tree.DecisionTreeRegressor(max_depth=3, random_state=42)

# Train decision tree regressor, wichtig das x zuerst kommt
clf = clf.fit(x_train, y_train)

# Predict the response for test dataset
y_pred = clf.predict(x_test)

## Use cross-validation to evaluate the model performance

In [ ]:
# Cross-validation (5-fold) with X_test and y_test, cv=5 and scoring='accuracy'
cv = cross_val_score(clf, x_test, y_test, cv=5, scoring='accuracy')

# Result
print(list(cv.round(4), end=""))

## Plot the classification tree

In [ ]:
# Get unique class names from df_orig['pets']
unice_class_names = df_orig['pets'].unique()

# For the meaning of numbers in each box, look at the root node
fig = plt.figure(figsize=(25,20))

# Plot the 
tree plot = tree

## Fit the Random Forest Classifier

In [38]:
# Create a random forest Classifier (by convention, clf means 'classifier')


# Predict the response for test dataset


# Calculate accuracy

## Show feature importance

muss immer nach fit berechnet werden ist aber based on random forest

In [39]:
# Get colnames from X_train


# Derive feature importance from random forest


# Print col-names and importances-values


# Barplot with feature importance

### Jupyter notebook --footer info-- (please always provide this at the end of each notebook)

In [40]:
import os
import platform
import socket
from platform import python_version
from datetime import datetime

print('-----------------------------------')
print(os.name.upper())
print(platform.system(), '|', platform.release())
print('Datetime:', datetime.now().strftime("%Y-%m-%d %H:%M:%S"))
print('Python Version:', python_version())
print('-----------------------------------')

-----------------------------------
POSIX
Linux | 6.5.0-1025-azure
Datetime: 2024-11-12 08:11:08
Python Version: 3.11.10
-----------------------------------